@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
* {
  font-family: "Quicksand", "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  display: block;
}

section.information, section.skill, .head {
  opacity: 0;
}

section.information {
  padding: 5%;
  border: 5px solid #321f1f;
  border-radius: 20px;
  background-color: #fff;
  font-size: 0;
  position: relative;
}
@media only screen and (max-width: 768px) {
  section.information {
    padding: 25px;
    border: 3px solid #321f1f;
    border-radius: 15px;
  }
}
section.information .dot {
  width: 8px;
  height: 8px;
  background-color: #C5A951;
  border: 4px solid #321f1f;
  border-radius: 50%;
  position: absolute;
}
section.information .dot:nth-of-type(1) {
  top: 8px;
  left: 8px;
}
section.information .dot:nth-of-type(2) {
  top: 8px;
  right: 8px;
}
section.information .dot:nth-of-type(3) {
  bottom: 8px;
  left: 8px;
}
section.information .dot:nth-of-type(4) {
  bottom: 8px;
  right: 8px;
}
@media only screen and (max-width: 768px) {
  section.information .dot {
    width: 5px;
    height: 5px;
    border: 3px solid #321f1f;
  }
  section.information .dot:nth-of-type(1) {
    top: 6px;
    left: 6px;
  }
  section.information .dot:nth-of-type(2) {
    top: 6px;
    right: 6px;
  }
  section.information .dot:nth-of-type(3) {
    bottom: 6px;
    left: 6px;
  }
  section.information .dot:nth-of-type(4) {
    bottom: 6px;
    right: 6px;
  }
}
section.information .left, section.information .right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 1240px) {
  section.information .left, section.information .right {
    width: 100%;
  }
}
section.information .left {
  padding-right: 3%;
  font-size: 0;
}
section.information .left h3 {
  font-size: 30px;
  line-height: 1.5;
  color: #321f1f;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  section.information .left h3 {
    font-size: 22px;
  }
}
section.information .left h3 span {
  display: inline-block;
  font-size: 25px;
}
@media only screen and (max-width: 768px) {
  section.information .left h3 span {
    font-size: 16px;
  }
}
section.information .left h4 {
  font-size: 20px;
  line-height: 1.5;
  color: #321f1f;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  section.information .left h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1240px) {
  section.information .left {
    padding-right: 0;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 640px) {
  section.information .left {
    text-align: center;
  }
}
section.information .left .myFace {
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 640px) {
  section.information .left .myFace {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
section.information .left .txt {
  width: calc(100% - 100px);
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 640px) {
  section.information .left .txt {
    width: 100%;
  }
}
section.information .center {
  width: 5px;
  height: 80%;
  border-radius: 2.5px;
  border: 2.5px solid #321f1f;
  background-color: #321f1f;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 1240px) {
  section.information .center {
    width: 100%;
    height: 3px;
    border: 1.5px solid #321f1f;
    position: relative;
  }
}
section.information .right {
  padding-left: 5%;
}
section.information .right p {
  font-size: 16px;
  line-height: 1.8;
  color: #321f1f;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  section.information .right p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1240px) {
  section.information .right {
    padding-left: 0;
    padding-top: 15px;
  }
}

section.skill .skillWrapper {
  width: 80%;
  margin: auto;
  padding: 100px 0 50px 0;
}
@media only screen and (max-width: 1040px) {
  section.skill .skillWrapper {
    width: 70%;
  }
}
@media only screen and (max-width: 640px) {
  section.skill .skillWrapper {
    width: 100%;
    padding: 50% 0;
  }
}
section.skill .skillWrapper .lineBackground {
  width: 80%;
  height: 3px;
  background-image: url(../images/dashed.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media only screen and (max-width: 1040px) {
  section.skill .skillWrapper .lineBackground {
    width: 70%;
  }
}
@media only screen and (max-width: 640px) {
  section.skill .skillWrapper .lineBackground {
    width: 53%;
    top: 50%;
    -webkit-transform: translateX(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
  }
}
section.skill .skillWrapper .swiper-container {
  position: relative;
}
section.skill .skillWrapper .swiper-container .swiper-slide figure {
  padding: 0 25%;
}
section.skill .skillWrapper .swiper-container .swiper-slide-active {
  opacity: 1;
}
section.skill h3 {
  font-size: 30px;
  line-height: 1.5;
  color: #321f1f;
  font-weight: 700;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  section.skill h3 {
    font-size: 22px;
  }
}

.head .myHead {
  width: 16%;
  position: absolute;
  bottom: 12%;
  left: 0;
}
@media only screen and (max-width: 1040px) {
  .head .myHead {
    width: 20%;
  }
}
@media only screen and (max-width: 640px) {
  .head .myHead {
    width: 35%;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(-90deg);
        -ms-transform: translateX(-50%) rotate(-90deg);
            transform: translateX(-50%) rotate(-90deg);
  }
}
.head .myHat {
  width: 16%;
  position: absolute;
  bottom: 12%;
  right: 0;
}
@media only screen and (max-width: 1040px) {
  .head .myHat {
    width: 20%;
  }
}
@media only screen and (max-width: 640px) {
  .head .myHat {
    width: 35%;
    bottom: 0;
    right: 50%;
    -webkit-transform: translate(50%, -230%) rotate(-90deg);
        -ms-transform: translate(50%, -230%) rotate(-90deg);
            transform: translate(50%, -230%) rotate(-90deg);
  }
}