@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
* {
  font-family: "Quicksand", "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  display: block;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8edec), to(#c9c9c9));
  background-image: -o-linear-gradient(#e8edec, #c9c9c9);
  background-image: linear-gradient(#e8edec, #c9c9c9);
}
body article {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
}
body article .wrapper {
  width: 70%;
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 2400px) {
  body article .wrapper {
    max-width: 1040px;
  }
}
@media only screen and (max-width: 768px) {
  body article .wrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 640px) {
  body article .wrapper {
    width: 100%;
  }
}
body article .wrapper .title {
  padding: 8% 5% 0;
  margin-bottom: -1px;
  font-size: 0;
  position: relative;
}
body article .wrapper .title:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/groveTitleBg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  body article .wrapper .title:before {
    background-size: 119%;
  }
}
@media only screen and (max-width: 640px) {
  body article .wrapper .title:before {
    background-size: 175%;
  }
}
body article .wrapper .title figure {
  width: 80px;
  display: inline-block;
  vertical-align: bottom;
}
@media only screen and (max-width: 1400px) {
  body article .wrapper .title figure {
    width: 60px;
  }
}
@media only screen and (max-width: 768px) {
  body article .wrapper .title figure {
    width: 45px;
  }
}
@media only screen and (max-width: 640px) {
  body article .wrapper .title figure {
    width: 35px;
  }
}
body article .wrapper .title p {
  font-size: 42px;
  line-height: 0.8;
  color: #321f1f;
  font-weight: 700;
  display: inline-block;
  vertical-align: bottom;
}
@media only screen and (max-width: 1400px) {
  body article .wrapper .title p {
    font-size: 36px;
  }
}
@media only screen and (max-width: 768px) {
  body article .wrapper .title p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 640px) {
  body article .wrapper .title p {
    font-size: 28px;
  }
}
body article .wrapper .content {
  position: relative;
  border-radius: 5px;
  background-color: #EDEDED;
  padding: 8%;
  margin-bottom: 14%;
}
body article .wrapper .content:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: url(../images/background.png);
  background-size: 10%;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
@media only screen and (max-width: 768px) {
  body article .wrapper .content:before {
    background-size: 15%;
  }
}
@media only screen and (max-width: 640px) {
  body article .wrapper .content:before {
    background-size: 20%;
  }
}
body article .wrapper .content:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 5px solid #321f1f;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  body article .wrapper .content:after {
    border: 3px solid #321f1f;
  }
}
body article .wrapper .content section {
  position: relative;
  z-index: 10;
}
body article .wrapper .content .contentBottom01, body article .wrapper .content .contentBottom02 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25px;
  right: 25px;
  border: 5px solid #321f1f;
  border-radius: 5px;
  background-color: #c6c1bd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  body article .wrapper .content .contentBottom01, body article .wrapper .content .contentBottom02 {
    top: 15px;
    right: 15px;
    border: 3px solid #321f1f;
  }
}
@media only screen and (max-width: 640px) {
  body article .wrapper .content .contentBottom01, body article .wrapper .content .contentBottom02 {
    top: 8px;
    right: 8px;
  }
}
body article .wrapper .content .contentBottom02 {
  top: 50px;
  right: 50px;
  z-index: -2;
}
@media only screen and (max-width: 768px) {
  body article .wrapper .content .contentBottom02 {
    top: 30px;
    right: 30px;
  }
}
@media only screen and (max-width: 640px) {
  body article .wrapper .content .contentBottom02 {
    top: 16px;
    right: 16px;
  }
}
body article.menuFixHeight {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 99;
}
body article.menuFixHeight .wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: -2vh;
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
@media only screen and (max-width: 768px) {
  body article.menuFixHeight .wrapper {
    width: 130%;
  }
}
@media only screen and (max-width: 640px) {
  body article.menuFixHeight .wrapper {
    width: 150%;
  }
}
body article.menuFixHeight .wrapper .main {
  width: 100%;
  max-width: 125vh;
  position: relative;
  margin: auto;
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
body article.menuFixHeight .wrapper .main .items {
  position: relative;
}
body article.menuFixHeight .wrapper .main .items .floor {
  width: calc((450 / 1240) * 100%);
  padding-bottom: calc((450 / 1240) * 100%);
  position: relative;
  -webkit-transform: scaleY(0.4) rotateX(0deg);
          transform: scaleY(0.4) rotateX(0deg);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  margin: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
body article.menuFixHeight .wrapper .main .items .floor:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
  border: 8px solid #321f1f;
  border-radius: 8px;
  background-image: url(../images/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #EDEDED;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body article.menuFixHeight .wrapper .main .items a.menuBtn.open {
  bottom: 15%;
}
@media only screen and (max-width: 2400px) {
  body article.menuFixHeight .wrapper .main {
    max-width: 115vh;
  }
}

body.itemHide article .bannerWrapper section.banner .main .console-container, body.itemHide article .bannerWrapper section.banner .main .bigCloud, body.itemHide article .bannerWrapper section.banner .main .mountainCow, body.itemHide article .bannerWrapper section.banner .main .mountainCableCar, body.itemHide article .bannerWrapper section.banner .main .buildings, body.itemHide article .bannerWrapper section.banner .main .one0one, body.itemHide article .bannerWrapper section.banner .main .grove, body.itemHide article .bannerWrapper section.banner .main .floorBottom01, body.itemHide article .bannerWrapper section.banner .main .floorBottom02, body.itemHide article .bannerWrapper section.banner .main .cars, body.itemHide article .bannerWrapper section.banner .main .tree, body.itemHide article .bannerWrapper section.banner .main .me {
  opacity: 0;
}
body.itemHide article.hide {
  opacity: 0;
}

body.menuOpen article .bannerWrapper section.banner .main {
  margin-top: 0;
}
body.menuOpen article .bannerWrapper section.banner .main .floor {
  -webkit-transform: scaleY(0.5) rotateX(180deg);
          transform: scaleY(0.5) rotateX(180deg);
}
body.menuOpen article .bannerWrapper section.banner .main .menuBtn.open {
  opacity: 0;
}
body.menuOpen article .bannerWrapper section.banner .main .menu {
  -webkit-transform: scaleY(1) rotateX(360deg);
          transform: scaleY(1) rotateX(360deg);
}
body.menuOpen article .bannerWrapper section.banner .main .menu .wrapperMenu {
  opacity: 1;
}
body.menuOpen article.menuFixHeight .wrapper {
  margin-bottom: 50vh;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
body.menuOpen article.menuFixHeight .wrapper .main .items .floor {
  -webkit-transform: scaleY(0.5) rotateX(180deg);
          transform: scaleY(0.5) rotateX(180deg);
}
body.menuOpen article.menuFixHeight .wrapper .main .items .menuBtn.open {
  opacity: 0;
}
body.menuOpen article.menuFixHeight .wrapper .main .items .menu {
  -webkit-transform: scaleY(1) rotateX(360deg);
          transform: scaleY(1) rotateX(360deg);
}
body.menuOpen article.menuFixHeight .wrapper .main .items .menu .wrapperMenu {
  opacity: 1;
}

.menu {
  width: calc((850 / 1240) * 100%);
  padding-bottom: calc((850 / 1240) * 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  z-index: 10;
}
.menu:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #EDEDED;
  border: 5px solid #321f1f;
  border-radius: 5px;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .menu:before {
    border: 4px solid #321f1f;
  }
}
.menu .wrapperMenu {
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
.menu .wrapperMenu .wrapperLocation {
  width: 85%;
  padding-bottom: 80%;
  margin: auto;
  position: relative;
  z-index: 50;
}
.menu .wrapperMenu .wrapperLocation .location {
  display: inline-block;
  position: absolute;
  font-size: 0;
}
.menu .wrapperMenu .wrapperLocation .location figure {
  width: 60px;
  display: inline-block;
  vertical-align: bottom;
}
.menu .wrapperMenu .wrapperLocation .location p {
  font-size: 36px;
  display: inline-block;
  color: #321f1f;
  font-weight: 700;
  line-height: 0.8;
  vertical-align: bottom;
}
@media only screen and (max-width: 2400px) {
  .menu .wrapperMenu .wrapperLocation .location p {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1400px) {
  .menu .wrapperMenu .wrapperLocation .location p {
    font-size: 22px;
  }
}
@media only screen and (max-width: 640px) {
  .menu .wrapperMenu .wrapperLocation .location p {
    font-size: 20px;
  }
}
.menu .wrapperMenu .wrapperLocation #aboutMe {
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.menu .wrapperMenu .wrapperLocation #portfolio {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.menu .wrapperMenu .wrapperLocation #experience {
  bottom: 10%;
  left: 10%;
}
@media only screen and (max-width: 2400px) {
  .menu .wrapperMenu .wrapperLocation .location figure {
    width: 50px;
  }
}
@media only screen and (max-width: 1400px) {
  .menu .wrapperMenu .wrapperLocation .location figure {
    width: 40px;
  }
}
@media only screen and (max-width: 640px) {
  .menu .wrapperMenu .wrapperLocation .location figure {
    width: 30px;
  }
  .menu .wrapperMenu .wrapperLocation #experience {
    bottom: 15%;
  }
}

a.menuBtn {
  width: 240px;
  display: block;
  position: absolute;
  bottom: 6%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
a.menuBtn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #99443d;
  border: 3px solid #321f1f;
  border-radius: 39px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 10px;
  left: 0;
}
a.menuBtn .box {
  text-align: center;
  background-color: #e57863;
  border: 3px solid #321f1f;
  border-radius: 39px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
a.menuBtn .box .ham {
  width: 25px;
  height: 25px;
  position: relative;
  display: inline-block;
  margin-right: 5px;
}
a.menuBtn .box .ham .line {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media only screen and (max-width: 2400px) {
  a.menuBtn .box .ham .line {
    height: 3px;
    border-radius: 1.5px;
  }
}
@media only screen and (max-width: 1400px) {
  a.menuBtn .box .ham .line {
    height: 2px;
    border-radius: 1px;
  }
}
a.menuBtn .box .ham .line:nth-of-type(1) {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}
a.menuBtn .box .ham .line:nth-of-type(3) {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}
a.menuBtn .box .ham .cross {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 120%;
}
@media only screen and (max-width: 2400px) {
  a.menuBtn .box .ham .cross {
    height: 3px;
    border-radius: 1.5px;
  }
}
@media only screen and (max-width: 1400px) {
  a.menuBtn .box .ham .cross {
    height: 2px;
    border-radius: 1px;
  }
}
a.menuBtn .box .ham .cross:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
a.menuBtn .box .ham .cross:nth-of-type(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
a.menuBtn .box p {
  font-size: 36px;
  display: inline-block;
  color: #321f1f;
  font-weight: 700;
  line-height: 2;
  color: #fff;
}
@media only screen and (max-width: 2400px) {
  a.menuBtn .box p {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1400px) {
  a.menuBtn .box p {
    font-size: 22px;
  }
}
@media only screen and (max-width: 640px) {
  a.menuBtn .box p {
    font-size: 20px;
  }
}
a.menuBtn:hover .box {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}
@media only screen and (max-width: 2400px) {
  a.menuBtn {
    width: 200px;
  }
  a.menuBtn:before {
    content: "";
    display: block;
    top: 7px;
  }
  a.menuBtn .box .ham {
    width: 22px;
    height: 22px;
  }
  a.menuBtn .box .ham .line:nth-of-type(1) {
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  a.menuBtn .box .ham .line:nth-of-type(3) {
    -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
            transform: translateY(8px);
  }
  a.menuBtn:hover .box {
    -webkit-transform: translateY(7px);
        -ms-transform: translateY(7px);
            transform: translateY(7px);
  }
}
@media only screen and (max-width: 1400px) {
  a.menuBtn {
    width: 150px;
  }
  a.menuBtn:before {
    content: "";
    display: block;
  }
  a.menuBtn .box .ham {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-bottom: 0;
  }
  a.menuBtn .box .ham .line:nth-of-type(1) {
    -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  a.menuBtn .box .ham .line:nth-of-type(3) {
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px);
  }
}
@media only screen and (max-width: 640px) {
  a.menuBtn {
    width: 140px;
  }
}