@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
* {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700; }

img {
  width: 100%;
  vertical-align: top; }

a {
  text-decoration: none; }
