@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
* {
  font-family: "Quicksand", "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  display: block;
}

@-webkit-keyframes drive {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes drive {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@media only screen and (max-width: 640px) {
  body article.hide .wrapper .content {
    margin-bottom: 25%;
  }
}

section {
  position: relative;
}
section figure {
  position: absolute;
}
section .circle {
  width: 7.5%;
  position: absolute;
  top: 0;
  left: -15%;
}
@media only screen and (max-width: 640px) {
  section .circle {
    width: 10%;
  }
}
section .circle .cls-2 {
  fill: #fff;
  stroke: #321f1f;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10px;
}
section .txt {
  width: calc((480 / 1240) * 100%);
  position: absolute;
}
@media only screen and (max-width: 1040px) {
  section .txt {
    width: 70%;
  }
}
section .txt p {
  font-size: 16px;
  line-height: 1.8;
  color: #321f1f;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  section .txt p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1040px) {
  section .txt p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  section .txt p {
    font-size: 14px;
  }
}
section .txt h4 {
  font-size: 20px;
  line-height: 1.5;
  color: #321f1f;
  font-weight: 700;
  line-height: 1.2;
}
@media only screen and (max-width: 768px) {
  section .txt h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1040px) {
  section .txt h4 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  section .txt h4 {
    font-size: 16px;
  }
}
section .txt h4 span {
  display: inline-block;
}
section .university figure.building {
  width: calc((205 / 1240) * 100%);
  top: 0;
  right: 5%;
}
section .university .txt {
  top: 15%;
  left: 56.7%;
}
section .university figure.tree {
  width: calc((122 / 1240) * 100%);
  top: 5%;
  left: 20%;
}
@media only screen and (max-width: 1040px) {
  section .university .txt {
    left: 24%;
  }
  section .university figure.tree {
    left: 40%;
  }
}
@media only screen and (max-width: 640px) {
  section .university figure.building {
    width: 25%;
  }
  section .university .txt {
    top: 10%;
    left: 28.5%;
  }
}
section .clothingArtEditor figure.building {
  width: calc((224 / 1240) * 100%);
  top: 23%;
  left: 0;
}
section .clothingArtEditor figure.building img.car {
  width: 60%;
  position: absolute;
  bottom: -10%;
  right: -40%;
  -webkit-animation: drive 4s infinite linear;
  animation: drive 4s infinite linear;
}
section .clothingArtEditor .txt {
  top: 30%;
  left: 51.5%;
}
section .clothingArtEditor figure.tree {
  width: calc((55 / 1240) * 100%);
  top: 25%;
  right: 5%;
}
@media only screen and (max-width: 1040px) {
  section .clothingArtEditor figure.building {
    left: 57%;
  }
  section .clothingArtEditor .txt {
    left: 16%;
  }
}
@media only screen and (max-width: 640px) {
  section .clothingArtEditor figure.building {
    width: 28%;
    left: 40%;
  }
  section .clothingArtEditor .txt {
    top: 33.5%;
    left: 10.3%;
  }
  section .clothingArtEditor figure.tree {
    top: 21%;
  }
}
section .webDesigner figure.building {
  width: calc((365 / 1240) * 100%);
  top: 43%;
  right: 0;
}
section .webDesigner .txt {
  top: 63%;
  left: 53.8%;
}
section .webDesigner figure.tree {
  width: calc((152 / 1240) * 100%);
  top: 45%;
  left: 25%;
}
@media only screen and (max-width: 1040px) {
  section .webDesigner figure.building {
    right: 5%;
  }
  section .webDesigner .txt {
    top: 57%;
    left: 17%;
  }
}
@media only screen and (max-width: 640px) {
  section .webDesigner figure.building {
    width: 42%;
    top: 45%;
  }
  section .webDesigner .txt {
    top: 55.5%;
    left: 13%;
  }
  section .webDesigner figure.tree {
    top: 47%;
  }
}
section .digitalDesigner figure.building {
  width: calc((341 / 1240) * 100%);
  top: 75%;
  left: 10%;
}
section .digitalDesigner figure.building img.car {
  width: 45%;
  position: absolute;
  bottom: -20%;
  left: -25%;
  -webkit-animation: drive 4s infinite linear;
  animation: drive 4s infinite linear;
}
section .digitalDesigner .txt {
  top: 80%;
  left: 57%;
}
section .digitalDesigner figure.tree {
  width: calc((55 / 1240) * 100%);
  top: 75%;
  right: 7%;
}
section .digitalDesigner figure.lake {
  width: calc((300 / 1240) * 100%);
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 1040px) {
  section .digitalDesigner figure.building {
    top: 67%;
    left: 40%;
  }
  section .digitalDesigner .txt {
    left: 24.5%;
  }
}
@media only screen and (max-width: 640px) {
  section .digitalDesigner figure.building {
    width: 40%;
  }
  section .digitalDesigner .txt {
    top: 78%;
    left: 26.3%;
  }
}
section .arrowLine {
  width: calc((120 / 1240) * 100%);
  margin: auto;
}
@media only screen and (max-width: 1040px) {
  section .arrowLine {
    width: 10%;
    margin-left: 5%;
    width: 15%;
  }
}
@media only screen and (max-width: 640px) {
  section .arrowLine {
    width: 25%;
    margin: 0;
  }
}
section .arrowLine .cls-1, section .arrowLine .cls-2 {
  fill: none;
  stroke: #321f1f;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10px;
}