@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900");
* {
  font-family: "Quicksand", "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  display: block;
}

@-webkit-keyframes drive {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes drive {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  50% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  75% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
section.banner {
  opacity: 0;
}

.grove img {
  opacity: 0;
}

article {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  overflow: hidden;
}
article .bannerWrapper {
  width: 70%;
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width: 2400px) {
  article .bannerWrapper {
    max-width: 1040px;
  }
}
@media only screen and (max-width: 768px) {
  article .bannerWrapper {
    width: 90%;
  }
}
@media only screen and (max-width: 640px) {
  article .bannerWrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  article .bannerWrapper {
    width: 130%;
  }
}
@media only screen and (max-width: 640px) {
  article .bannerWrapper {
    width: 150%;
  }
}
article .bannerWrapper section.banner {
  width: 100%;
  height: 100%;
}
article .bannerWrapper section.banner .main {
  width: 100%;
  height: 100%;
  max-width: 125vh;
  position: relative;
  margin: auto;
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  pointer-events: auto !important;
}
@media only screen and (max-width: 2400px) {
  article .bannerWrapper section.banner .main {
    max-width: 115vh;
    margin-top: 10%;
  }
}
@media only screen and (max-width: 1400px) {
  article .bannerWrapper section.banner .main {
    margin-top: 7%;
  }
}
@media only screen and (max-width: 640px) {
  article .bannerWrapper section.banner .main {
    margin-top: 25%;
  }
}
article .bannerWrapper section.banner .main .itemWrapper, article .bannerWrapper section.banner .main .backWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
article .bannerWrapper section.banner .main .itemWrapper {
  z-index: 50;
}
article .bannerWrapper section.banner .main .backWrapper {
  z-index: 10;
}
article .bannerWrapper section.banner .main .console-container {
  width: 100%;
  font-size: 52px;
  color: #321f1f;
  font-weight: 700;
  position: absolute;
  top: -13%;
  left: 0;
}
@media only screen and (max-width: 1400px) {
  article .bannerWrapper section.banner .main .console-container {
    font-size: 36px;
  }
}
@media only screen and (max-width: 768px) {
  article .bannerWrapper section.banner .main .console-container {
    text-align: center;
    width: 70%;
    top: -20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media only screen and (max-width: 640px) {
  article .bannerWrapper section.banner .main .console-container {
    font-size: 30px;
    width: 65%;
    top: -35%;
  }
}
article .bannerWrapper section.banner .main .console-container span {
  line-height: 1.2;
}
article .bannerWrapper section.banner .main .console-underscore {
  display: inline-block;
  font-family: "Noto Sans TC", sans-serif;
}
article .bannerWrapper section.banner .main .hidden {
  opacity: 0;
}
article .bannerWrapper section.banner .main .bigCloud, article .bannerWrapper section.banner .main .mountainCow, article .bannerWrapper section.banner .main .mountainCableCar {
  width: 50%;
  -webkit-transform: skewY(-26.5deg);
      -ms-transform: skewY(-26.5deg);
          transform: skewY(-26.5deg);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  position: absolute;
  top: 9.5%;
  left: 0;
}
article .bannerWrapper section.banner .main .buildings, article .bannerWrapper section.banner .main .one0one, article .bannerWrapper section.banner .main .grove {
  width: 50%;
  -webkit-transform: skewY(26.5deg);
      -ms-transform: skewY(26.5deg);
          transform: skewY(26.5deg);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  position: absolute;
  top: 9.5%;
  right: 0;
}
article .bannerWrapper section.banner .main .console-container, article .bannerWrapper section.banner .main .bigCloud, article .bannerWrapper section.banner .main .mountainCow, article .bannerWrapper section.banner .main .mountainCableCar, article .bannerWrapper section.banner .main .buildings, article .bannerWrapper section.banner .main .one0one, article .bannerWrapper section.banner .main .grove, article .bannerWrapper section.banner .main .floorBottom01, article .bannerWrapper section.banner .main .floorBottom02, article .bannerWrapper section.banner .main .cars, article .bannerWrapper section.banner .main .tree, article .bannerWrapper section.banner .main .me {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
article .bannerWrapper section.banner .main .floorBottom01, article .bannerWrapper section.banner .main .floorBottom02 {
  width: calc((850 / 1240) * 100%);
  padding-bottom: calc((850 / 1240) * 100%);
  position: absolute;
  bottom: -8%;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(0.5);
      -ms-transform: translateX(-50%) scaleY(0.5);
          transform: translateX(-50%) scaleY(0.5);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}
article .bannerWrapper section.banner .main .floorBottom01:before, article .bannerWrapper section.banner .main .floorBottom02:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 5px solid #321f1f;
  border-radius: 5px;
  background-color: #c6c1bd;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  article .bannerWrapper section.banner .main .floorBottom01:before, article .bannerWrapper section.banner .main .floorBottom02:before {
    border: 4px solid #321f1f;
  }
}
article .bannerWrapper section.banner .main .floorBottom02 {
  bottom: -4%;
}
article .bannerWrapper section.banner .main .items {
  position: relative;
  z-index: 1;
}
article .bannerWrapper section.banner .main .items .floor {
  width: calc((850 / 1240) * 100%);
  padding-bottom: calc((850 / 1240) * 100%);
  position: relative;
  -webkit-transform: scaleY(0.5) rotateX(0deg);
          transform: scaleY(0.5) rotateX(0deg);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  margin: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}
article .bannerWrapper section.banner .main .items .floor:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
  border: 5px solid #321f1f;
  border-radius: 5px;
  background-image: url(../images/background.png);
  background-size: 20%;
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  article .bannerWrapper section.banner .main .items .floor:before {
    border: 4px solid #321f1f;
  }
}
article .bannerWrapper section.banner .main .items .cars {
  width: calc((90 / 1240) * 100%);
  position: absolute;
}
article .bannerWrapper section.banner .main .items .tree {
  width: calc((60 / 1240) * 100%);
  position: absolute;
}
article .bannerWrapper section.banner .main .items .left {
  -webkit-transform: skewY(-26.5deg);
      -ms-transform: skewY(-26.5deg);
          transform: skewY(-26.5deg);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}
article .bannerWrapper section.banner .main .items .right {
  -webkit-transform: skewY(26.5deg);
      -ms-transform: skewY(26.5deg);
          transform: skewY(26.5deg);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}
article .bannerWrapper section.banner .main .items .cars.left {
  bottom: 40%;
  left: 31%;
}
article .bannerWrapper section.banner .main .items .cars.left figure {
  -webkit-animation: drive 5s infinite linear;
  animation: drive 5s infinite linear;
}
article .bannerWrapper section.banner .main .items .tree.left {
  bottom: 20%;
  left: 20%;
}
article .bannerWrapper section.banner .main .items .tree.right {
  bottom: 40%;
  left: 63%;
  -webkit-transform: skewY(26.5deg) scale(0.8);
      -ms-transform: skewY(26.5deg) scale(0.8);
          transform: skewY(26.5deg) scale(0.8);
}
article .bannerWrapper section.banner .main .items .cars.right {
  bottom: 20%;
  left: 75%;
}
article .bannerWrapper section.banner .main .items .cars.right figure {
  -webkit-animation: drive 5.5s -1s infinite linear;
  animation: drive 5.5s -1s infinite linear;
}
article .bannerWrapper section.banner .main .items .me {
  width: calc((360 / 1240) * 100%);
  position: absolute;
  top: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media only screen and (max-width: 640px) {
  article .bannerWrapper section.banner .main .items .me {
    top: 0;
  }
}