@charset "utf-8"
@import "var.sass"

body
	background-image: linear-gradient(#e8edec, #c9c9c9)
	article
		min-height: 100vh
		min-height: calc(var(--vh, 1vh) * 100)
		transition: .5s ease-in-out
		position: relative
		.wrapper
			+wrapperStyle
			.title
				padding: 8% 5% 0
				margin-bottom: -1px
				font-size: 0
				position: relative
				+before
					width: 100%
					height: 100%
					background-image: url(../images/groveTitleBg.png)
					background-size: contain
					background-repeat: no-repeat
					background-position: 0 100%
					position: absolute
					top: 0
					left: 0
					opacity: .3
					z-index: -1
					+rwd(768px)
						background-size: 119%
					+rwd(640px)
						background-size: 175%
				figure
					width: 80px
					display: inline-block
					vertical-align: bottom
					+rwd(1400px)
						width: 60px
					+rwd(768px)
						width: 45px
					+rwd(640px)
						width: 35px
				p
					+fontTitle
					display: inline-block
					vertical-align: bottom
			.content
				position: relative
				border-radius: 5px
				background-color: $floor
				padding: 8%
				margin-bottom: 14%
				// box-sizing: border-box
				// +rwd(768px)
				// 	padding: 10%
				+before
					width: 100%
					height: 100%
					border-radius: 5px
					background-image: url(../images/background.png)
					background-size: 10%
					background-repeat: repeat
					position: absolute
					top: 0
					left: 0
					opacity: .5
					// box-sizing: border-box
					+rwd(768px)
						background-size: 15%
					+rwd(640px)
						background-size: 20%
				+after
					width: 100%
					height: 100%
					border-radius: 5px
					border: 5px solid $brown
					position: absolute
					top: 0
					left: 0
					box-sizing: border-box
					+rwd(768px)
						border: 3px solid $brown
				section
					position: relative
					z-index: 10
					// height: 20vh
				.contentBottom01
					width: 100%
					height: 100%
					position: absolute
					top: 25px
					right: 25px
					border: 5px solid $brown
					border-radius: 5px
					background-color: #c6c1bd
					box-sizing: border-box
					z-index: -1
					+rwd(768px)
						top: 15px
						right: 15px
						border: 3px solid $brown
					+rwd(640px)
						top: 8px
						right: 8px
				.contentBottom02
					@extend .contentBottom01
					top: 50px
					right: 50px
					z-index: -2
					+rwd(768px)
						top: 30px
						right: 30px
					+rwd(640px)
						top: 16px
						right: 16px
						// display: none
						// opacity: .5
	article.menuFixHeight
		width: 100%
		height: 100vh
		height: calc(var(--vh, 1vh) * 100)
		position: fixed
		bottom: 0
		left: 0
		overflow: hidden
		z-index: 99
		+before
			width: 100%
			height: 100%
			background-image: linear-gradient(#e8edec, #c9c9c9)
			opacity: 0
			transition: .5s ease-in-out
		.wrapper
			position: absolute
			bottom: 5%
			left: 50%
			transform: translate(-50%, 50%)
			// margin-bottom: 2vh
			transition: .7s ease-in-out
			+rwd(768px)
				width: 130%
			+rwd(640px)
				width: 150%
			.main
				width: 100%
				max-width: 125vh
				position: relative
				margin: auto
				transition: .7s ease-in-out
				.items
					position: relative
					.floor
						width: calc((450 / 1240) * 100%)
						padding-bottom: calc((450 / 1240) * 100%)
						position: relative
						transform: scaleY(0.4) rotateX(0deg)
						transform-origin: center
						margin: auto
						backface-visibility: hidden
						transition: .7s ease-in-out
						+before
							width: 100%
							height: 100%
							background-color: $floor
							border: 8px solid $brown
							border-radius: 8px
							background-image: url(../images/map.png)
							background-size: cover
							background-repeat: no-repeat
							background-color: $floor
							position: absolute
							transform: rotate(45deg)
							box-sizing: border-box
					a.menuBtn.open
						bottom: 55%
						transform: translate(-50%, 50%)
				+rwd(2400px)
					max-width: 115vh

// menu打開過場樣式---------------start---------------
body.itemHide
	// 首頁
	article
		.bannerWrapper
			section.banner
				.main
					.console-container,.bigCloud,.mountainCow,.mountainCableCar,.buildings,.one0one,.grove,.floorBottom01,.floorBottom02,.cars,.tree,.me,.menuBtn.open
						opacity: 0
	// 內頁
	article.hide
		opacity: 0
	article.menuFixHeight
		+before
			opacity: 1
		.wrapper
			.main
				.items
					.floor
						width: calc((850 / 1240) * 100%)
						padding-bottom: calc((850 / 1240) * 100%)
					.menuBtn.open
						opacity: 0
body.menuOpen
	//首頁
	article
		.bannerWrapper
			section.banner
				.main
					margin-top: 0
					.floor
						transform: scaleY(0.5) rotateX(180deg)
					.menu
						transform: scaleY(1) rotateX(360deg)
						.wrapperMenu
							opacity: 1
	// 內頁
	article.hide
		.wrapper
			display: none
	article.menuFixHeight
		.wrapper
			bottom: 50%
			// margin-bottom: calc(var(--vh, 1vh) * 50)
			// transform: translate(-50%, -50%)
			.main
				// margin-top: 50%
				// transform: translateY(50%)
				.items
					.floor
						transform: scaleY(0.5) rotateX(180deg)
					.menu
						transform: scaleY(1) rotateX(360deg)
						.wrapperMenu
							opacity: 1
// menu打開過場樣式---------------end---------------



// 全站menu樣式---------------end---------------
.menu
	width: calc((850 / 1240) * 100%)
	padding-bottom: calc((850 / 1240) * 100%)
	+pstc0
	transform: rotateX(180deg)
	transform-origin: bottom
	// margin: auto
	backface-visibility: hidden
	transition: .7s ease-in-out 
	z-index: 10
	+before
		width: 100%
		height: 100%
		background-image: url(../images/map.png)
		background-size: cover
		background-repeat: no-repeat
		background-color: $floor
		border: 5px solid $brown
		border-radius: 5px
		position: absolute
		transform: rotate(45deg)
		box-sizing: border-box
		+rwd(768px)
			border: 4px solid $brown
	.wrapperMenu
		width: 100%
		opacity: 0
		transition: .7s ease-in-out
		.wrapperLocation
			width: 85%
			padding-bottom: 80%
			margin: auto
			position: relative
			z-index: 50
			.location
				display: inline-block
				position: absolute
				font-size: 0
				figure
					width: 60px
					display: inline-block
					vertical-align: bottom
				p
					+fontBtn()
					line-height: 0.8
					vertical-align: bottom
			#aboutMe
				top: 10%
				left: 50%
				transform: translateX(-50%)
			#portfolio
				top: 50%
				right: 0
				transform: translateY(-50%)
			#experience
				bottom: 10%
				left: 10%
			+rwd(2400px)
				.location
					figure
						width: 50px
			+rwd(1400px)
				.location
					figure
						width: 40px
			+rwd(640px)
				.location
					figure
						width: 30px
				#experience
					bottom: 15%
// 全站menu樣式---------------end---------------

// 全站button樣式---------------start---------------
a.menuBtn
	width: 240px
	display: block
	position: absolute
	bottom: 6%
	left: 50%
	transform: translateX(-50%)
	transition: .7s ease-in-out 
	+before
		width: 100%
		height: 100%
		background-color: #99443d
		border: 3px solid $brown
		border-radius: 39px
		box-sizing: border-box
		position: absolute
		top: 10px
		left: 0
	.box
		text-align: center
		background-color: $pink
		border: 3px solid $brown
		border-radius: 39px
		position: relative
		transition: .3s
		.ham
			width: 25px
			height: 25px
			position: relative
			display: inline-block
			margin-right: 5px
			// margin-bottom: -1px
			// transition: .5s
			.line
				+lineStyle
				&:nth-of-type(1)
					transform: translateY(-10px)
				&:nth-of-type(3)
					transform: translateY(10px)
			.cross
				+lineStyle
				width: 120%
				&:nth-of-type(1)
					transform: rotate(45deg)
				&:nth-of-type(2)
					transform: rotate(-45deg)
		p
			+fontBtn()
			line-height: 2
			color: #fff
	&:hover
		.box
			transform: translateY(10px)
	+rwd(2400px)
		width: 200px
		+before
			// border-radius: 31px
			top: 7px
		.box
			// border-radius: 31px
			.ham
				width: 22px
				height: 22px
				.line
					&:nth-of-type(1)
						transform: translateY(-8px)
					&:nth-of-type(3)
						transform: translateY(8px)
		&:hover
			.box
				transform: translateY(7px)
	+rwd(1400px)
		width: 150px
		+before
			// border-radius: 23px
		.box
			// border-radius: 23px
			.ham
				width: 15px
				height: 15px
				margin-right: 3px
				margin-bottom: 0
				.line
					&:nth-of-type(1)
						transform: translateY(-6px)
					&:nth-of-type(3)
						transform: translateY(6px)
	+rwd(640px)
		width: 140px
// 全站button樣式---------------end---------------
