@charset "utf-8"
@import "var.sass"

.menu
	width: 55%
	padding-bottom: 55%
	+pstc0
	transform: rotateX(180deg)
	transform-origin: bottom
	// margin: auto
	backface-visibility: hidden
	transition: .5s ease-in-out 
	+before
		width: 100%
		height: 100%
		background-color: $floor
		border: 5px solid $brown
		border-radius: 5px
		position: absolute
		transform: rotate(45deg)
	
