@charset "utf-8"
@import "var.sass"

+keyframes (drive)
	0%
		transform: translateX(0px)
	25%
		transform: translateX(10px)
	50%
		transform: translateX(0px)
	75%
		transform: translateX(-10px)
	100%
		transform: translateX(0px)
body
	article.hide
		.wrapper
			.content
				+rwd(640px)
					margin-bottom: 25%
section
	position: relative
	figure
		position: absolute
	.circle
		width: 7.5%
		position: absolute
		top: 0
		left: -15%
		+rwd(640px)
			width: 10%
		.cls-2
			fill: #fff
			stroke: #321f1f
			stroke-linecap: round
			stroke-linejoin: round
			stroke-width: 10px
	.txt
		width: calc((480 / 1240) * 100%)
		position: absolute
		+rwd(1040px)
			width: 70%
		p
			+fontP()
			+rwd(1040px)
				font-size: 15px
			+rwd(768px)
				font-size: 14px
		h4
			+fontH4()
			line-height: 1.2
			+rwd(1040px)
				font-size: 18px
			+rwd(768px)
				font-size: 16px
			span
				display: inline-block
	.university
		figure.building
			width: calc((205 / 1240) * 100%)
			top: 0
			right: 5%	
		.txt
			top: 15%
			left: 56.7%
		figure.tree
			width: calc((122 / 1240) * 100%)
			top: 5%
			left: 20%
		+rwd(1040px)
			.txt
				left: 24%
			figure.tree
				left: 40%
		+rwd(640px)
			figure.building
				width: 25%
			.txt
				top: 10%
				left: 28.5%
	.clothingArtEditor
		figure.building
			width: calc((224 / 1240) * 100%)
			top: 23%
			left: 0
			img.car
				width: 60%
				position: absolute
				bottom: -10%
				right: -40%
				+animation(drive 4s infinite linear)
		.txt
			top: 30%
			left: 51.5%
		figure.tree
			width: calc((55 / 1240) * 100%)
			top: 25%
			right: 5%
		+rwd(1040px)
			figure.building
				left: 57%
			.txt
				left: 16%
		+rwd(640px)
			figure.building
				width: 28%
				left: 40%
			.txt
				top: 33.5%
				left: 10.3%
			figure.tree
				top: 21%
	.webDesigner
		figure.building
			width: calc((365 / 1240) * 100%)
			top: 43%
			right: 0
		.txt
			top: 63%
			left: 53.8%
		figure.tree
			width: calc((152 / 1240) * 100%)
			top: 45%
			left: 25%
		+rwd(1040px)
			figure.building
				right: 5%
			.txt
				top: 57%
				left: 17%
		+rwd(640px)
			figure.building
				width: 42%
				top: 45%
			.txt
				top: 55.5%
				left: 13%
			figure.tree
				top: 47%
	.digitalDesigner
		figure.building
			width: calc((341 / 1240) * 100%)
			top: 75%
			left: 10%
			img.car
				width: 45%
				position: absolute
				bottom: -20%
				left: -25%
				+animation(drive 4s infinite linear)
		.txt
			top: 80%
			left: 57%
		figure.tree
			width: calc((55 / 1240) * 100%)
			top: 75%
			right: 7%
		figure.lake
			width: calc((300 / 1240) * 100%)
			bottom: 0
			right: 0
		+rwd(1040px)
			figure.building
				top: 67%
				left: 40%
			.txt
				left: 24.5%
		+rwd(640px)
			figure.building
				width: 40%
			.txt
				top: 78%
				left: 26.3%
	.arrowLine
		width: calc((120 / 1240) * 100%)
		margin: auto
		+rwd(1040px)
			width: 10%
			margin-left: 5%
			width: 15%
		+rwd(640px)
			width: 25%
			margin: 0
		.cls-1,.cls-2
			fill: none
			stroke: $brown
			stroke-linecap: round
			stroke-linejoin: round
			stroke-width: 10px
			// stroke-dasharray: 1000px
			// stroke-dashoffset: 1000px