@charset "utf-8"
@import "var.sass"


section
	position: relative
	.txt
		position: absolute
		.circle
	figure
		position: absolute
	.university
		figure.building
			width: calc((205 / 1240) * 100%)
			top: 0
			right: 0
			img
		figure.tree
			width: calc((122 / 1240) * 100%)
			top: 5%
			left: 10%
			img
	.clothingArtEditor
		figure.building
			width: calc((224 / 1240) * 100%)
			top: 20%
			left: 0
			img
			img
		figure.tree
			width: calc((55 / 1240) * 100%)
			top: 25%
			right: 10%
			img
	.webDesigner
		figure.building
			width: calc((365 / 1240) * 100%)
			top: 40%
			right: 0
			img
		figure.tree
			width: calc((152 / 1240) * 100%)
			top: 45%
			left: 20%
			img
	.digitalDesigner
		figure.building
			width: calc((341 / 1240) * 100%)
			top: 60%
			left: 0
			img
			img
		figure.tree
			width: calc((55 / 1240) * 100%)
			top: 65%
			right: 10%
			img
			img
		figure.lake
			width: calc((300 / 1240) * 100%)
			bottom: 0
			right: 0
	.arrowLine
		width: 80px
		margin: auto
		.cls-1
			fill: $brown
		.cls-2
			fill: none
			stroke: $brown
			stroke-linecap: round
			stroke-linejoin: round
			stroke-width: 10px