script(src='./js/libs/jquery-3.4.1.min.js')
script(src='./js/libs/highlight.pack.js')
script(src='./js/libs/TweenMax.js')
script(src='./js/libs/ScrollMagic.js')
script(src='./js/libs/animation.gsap.js')
script(src='./js/libs/debug.addIndicators.js')