.menu
    .wrapperMenu
        .wrapperLocation
            a.location#index( href="index.html" )
                figure
                    img(src="./images/home.png", alt="")
                p Home
            a.location#aboutMe( href="aboutMe.html" )
                figure
                    img(src="./images/aboutMe.png", alt="")
                p About Me
            a.location#portfolio( href="portfolio.html" )
                figure
                    img(src="./images/portfolio.png", alt="")
                p Portfolio
            a.location#experience( href="experience.html" )
                figure
                    img(src="./images/experience.png", alt="")
                p Experience
        a.menuBtn.close( href="" )
            .box
                .ham
                    .cross
                    .cross
                p CLOSE