<!DOCTYPE html>
html(lang="zh-Hant")
	head
		include ./includes/meta.pug
		include ./includes/css_include.pug
		//- link(rel="stylesheet" href="./css/scroll.css")
		//- link(href='https://fonts.googleapis.com/css?family=Quicksand&display=swap', rel='stylesheet')
		link(rel="stylesheet", href="./css/libs/swiper.min.css")
		link(rel="stylesheet", href="./css/aboutMe.css")
		//- link(rel="stylesheet", href="./css/menu.css")
		script(src='./js/libs/jquery-3.4.1.min.js')
	body
		article.hide
			.wrapper
				.title
					figure
						img(src="./images/aboutMe.png", alt="")
					p About Me
				.content
					section.information
						.dot
						.dot
						.dot
						.dot
						.left
							figure.myFace
								img(src="./images/myFace.png", alt="")
							.txt
								h3 彭 
									span /25
								h4 銘傳大學商品設計系
						.center
						.right
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci temporibus animi eveniet eligendi tenetur officiis minima alias quasi non? Ipsa repellendus repudiandae obcaecati voluptas enim cum doloribus modi eveniet dolore?
					section.skill
						.skillWrapper
							// Slider main container
							.lineBackground
							.swiper-container
								// Additional required wrapper
								.swiper-wrapper
									// Slides
									.swiper-slide
										figure
											img(src="./images/skillHtml.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillCss.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillJavascript.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillPug.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillSass.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillJquery.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillPhotoshop.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillIllustrator.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillAnimate.png", alt="")
						//- h3 HTML
					.head
						figure.myHead
							img(src="./images/myHead.png", alt="")
						figure.myHat
							img(src="./images/myHat.png", alt="")
					.contentBottom01
					.contentBottom02
		article.menuFixHeight
			.wrapper
				.main
					.items
						.floor
						a.menuBtn.open( href="" )
							.box
								.ham
									.line
									.line
									.line
								p MENU
						include ./includes/menu.pug	

		include ./includes/js_include.pug
		script(src="./js/libs/swiper.min.js")
		script(src="./js/common.js")
		script(src="./js/aboutMe.js")
		
