<!DOCTYPE html>
html(lang="zh-Hant")
	head
		include ./includes/meta.pug
		include ./includes/css_include.pug
		//- link(rel="stylesheet" href="./css/scroll.css")
		//- link(href='https://fonts.googleapis.com/css?family=Quicksand&display=swap', rel='stylesheet')
		link(rel="stylesheet", href="./css/libs/swiper.min.css")
		link(rel="stylesheet", href="./css/aboutMe.css")
		//- link(rel="stylesheet", href="./css/menu.css")
		script(src='./js/libs/jquery-3.4.1.min.js')
	body
		article.hide
			.wrapper
				.title
					figure
						img(src="./images/aboutMe.png", alt="")
					p About Me
				.content
					section.information
						.dot
						.dot
						.dot
						.dot
						.left
							figure.myFace
								img(src="./images/myFace.png", alt="")
							.txt
								h3 彭 
									span /25
								h4 銘傳大學商品設計系
						.center
						.right
							p 我是彭，畢業於銘傳大學商品設計系。
								br
								| 求學時期進入網拍公司打工，除了增進相關技能、也讓自己能在畢業前夕提早與社會接軌，於此同時接觸到一點程式而產生興趣，並自行報名網頁設計課程學習，畢業後順利進入廣告公司開始接觸數位設計方面的工作。
								br
								| 在從事設計工作的期間內，偶然得到支援前端切版的機會，與前端工程師交流的過程中發現，自己對前端技術的熱誠大過於設計，因此成為了我前端生活的開端。
					section.skill
						.skillWrapper
							// Slider main container
							.lineBackground
							.swiper-container
								// Additional required wrapper
								.swiper-wrapper
									// Slides
									.swiper-slide
										figure
											img(src="./images/skillHtml.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillCss.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillJavascript.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillPug.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillSass.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillJquery.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillPhotoshop.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillIllustrator.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillAnimate.png", alt="")
						//- h3 HTML
					.head
						figure.myHead
							img(src="./images/myHead.png", alt="")
						figure.myHat
							img(src="./images/myHat.png", alt="")
					.contentBottom01
					.contentBottom02
		article.menuFixHeight
			.wrapper
				.main
					.items
						.floor
						a.menuBtn.open( href="" )
							.box
								.ham
									.line
									.line
									.line
								p MENU
						include ./includes/menu.pug	

		include ./includes/js_include.pug
		script(src="./js/libs/swiper.min.js")
		script(src="./js/common.js")
		script(src="./js/aboutMe.js")
		
