<!DOCTYPE html>
html(lang="zh-Hant")
	head
		include ./includes/meta.pug
		include ./includes/css_include.pug
		link(rel="stylesheet", href="./css/libs/swiper.min.css")
		link(rel="stylesheet", href="./css/aboutMe.css")
	body
		article.hide
			.wrapper
				.title
					figure
						img(src="./images/aboutMe.png", alt="")
					p About Me
				.content
					section.information
						.dot
						.dot
						.dot
						.dot
						.left
							figure.myFace
								img(src="./images/myFace.png", alt="")
							.txt
								h3 彭 
									span /25
								h4 銘傳大學商品設計系
						.center
						.right
							p 我是彭，出生於1995年，台北人，畢業於銘傳大學商品設計系。
								br
								| 求學時期進入網拍公司打工，除了增進相關技能、也讓自己能在畢業前夕提早與社會接軌，於此同時接觸到一點程式而產生興趣，並自行報名網頁設計課程學習，畢業後順利進入廣告公司開始接觸設計方面的工作。
							p 畢業後第一份工作，在台灣唯思廣告有限公司當網頁設計師。主要工作內容是負責香港花旗銀行網站維護，包括資訊更新時網頁的版面設計、切版與EDM製作，除此之外還有一些台灣網頁專案的執行，內容為網頁視覺設計部分，但後來台灣分公司這邊決定於2019年初結束服務，也因此離開唯思廣告。
								br
								| 離開唯思廣告後進入名象數位整合營銷有限公司，在團隊中擔任數位設計一職，主要工作是負責專案所需要的各種設計需求，包括活動網頁視覺設計、貼文所需素材、H5廣告的視覺製作與串動等等，在名象的期間內，因本人對前端技術一直都很有興趣，主動徵求後得到支援切版的機會，在與前端工程師交流的過程中發現，自己對前端技術的熱誠真的很大，後來即在公司內轉任前端工程師，期間執行了兩個專案，內容為活動網頁的切版，動畫效果處理，與部分api資料串接。雖然已得到自己喜歡的職位，但因公司決策考量，網頁的需求較少，未來想增進前端技術有所困難，因此決定放棄名象前端工程師的職位，希望能在更合適的環境下工作，才能有效成長進步，往目標邁進。
							p 雖然設計背景的我，在技能上可能需要努力，但對前端技術的熱誠是龐大的，除了從工作中獲取經驗，還有自行報名線上課程學習的習慣，過程中讓我覺得學習前端技術很有成就感，也很期待能夠一直學習下去，即使相關經驗較為不足，但我必定會付出加倍的努力，加上從事設計的豐富設計經驗，給予公司回饋，期許有機會進入貴公司學習成長，發揮所長。
					section.skill
						.skillWrapper
							// Slider main container
							.lineBackground
							.swiper-container
								// Additional required wrapper
								.swiper-wrapper
									// Slides
									.swiper-slide
										figure
											img(src="./images/skillHtml.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillCss.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillJavascript.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillPug.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillSass.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillJquery.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillPhotoshop.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillIllustrator.png", alt="")
									.swiper-slide
										figure
											img(src="./images/skillAnimate.png", alt="")
					.head
						figure.myHead
							img(src="./images/myHead.png", alt="")
						figure.myHat
							img(src="./images/myHat.png", alt="")
					.contentBottom01
					.contentBottom02
		article.menuFixHeight
			.wrapper
				.main
					.items
						.floor
						a.menuBtn.open( href="" )
							.box
								.ham
									.line
									.line
									.line
								p MENU
						include ./includes/menu.pug	

		include ./includes/js_include.pug
		script(src="./js/libs/swiper.min.js")
		script(src="./js/common.js")
		script(src="./js/aboutMe.js")
		
