<!DOCTYPE html>
html(lang="zh-Hant")
	head
		include ./includes/meta.pug
		include ./includes/css_include.pug
		//- link(rel="stylesheet" href="./css/scroll.css")
		//- link(href='https://fonts.googleapis.com/css?family=Quicksand&display=swap', rel='stylesheet')
		link(rel="stylesheet", href="./css/index.css")
		//- link(rel="stylesheet", href="./css/menu.css")
		script(src='./js/jquery-3.4.1.min.js')
		//- link(rel="stylesheet", href="./css/product.css")
	body
		article
			.wrapper
				.title
					figure
						img(src="./images/experience.png", alt="")
					p Experience
				.content
					section.information
					section.skill
					.contentBottom01
					.contentBottom02
				//- .main.menuBox
				//- 	.items
				//- 		.floor
				//- 		a.menuBtn.open( href="" )
				//- 			.box
				//- 				.ham
				//- 					.line
				//- 					.line
				//- 					.line
				//- 				p MENU
				//- 		include ./includes/menu.pug	


		script(src="./js/menu.js")