<!DOCTYPE html>
html(lang="zh-Hant")
	head
		include ./includes/meta.pug
		include ./includes/css_include.pug
		//- link(rel="stylesheet" href="./css/scroll.css")
		//- link(href='https://fonts.googleapis.com/css?family=Quicksand&display=swap', rel='stylesheet')
		link(rel="stylesheet", href="./css/index.css")
		script(src='./js/jquery-3.4.1.min.js')
		//- link(rel="stylesheet", href="./css/product.css")
	body
		//- include ./includes/head.pug
		article
			section.banner
				.wrapper
					.main
						.console-container Hi I'm
							span#text 
							#console.console-underscore _
						.bigCloud
							figure
								img(src="./images/bigCloud.png", alt="")
						.mountainCow
							figure
								img(src="./images/mountainCow.png", alt="")
						.mountainCableCar
							figure
								img(src="./images/mountainCableCar.png", alt="")
						.buildings
							figure
								img(src="./images/buildings.png", alt="")
						.one0one
							figure
								img(src="./images/101.png", alt="")
						.grove
							figure
								img(src="./images/grove.png", alt="")
						.floorBottom01
						.floorBottom02
						.item
							.floor
							.cars.left
								figure
									img(src="./images/carBlue.png", alt="")
							.tree.left
								figure
									img(src="./images/tree.png", alt="")
							.tree.right
								figure
									img(src="./images/tree.png", alt="")
							.cars.right
								figure
									img(src="./images/carRed.png", alt="")
							.me
								figure
									img(src="./images/me.png", alt="")
							a.menuBtn( href="" )
								.box
									.ham
										.line
										.line
										.line
									p.open MENU
									p.close CLOSE
							include ./includes/menu.pug
        
		include ./includes/footer.pug
		//- include ./includes/js_include.pug
		//- script(src="https://code.createjs.com/createjs-2015.11.26.min.js")
		//- script(src="/assets/js/logo.js")
		//- script(src="/assets/js/canvas.js")
		//- script(src="/assets/js/libs/html2canvas.min.js")
		//- script(src="/assets/js/libs/jquery.scrollbar.js")
		//- script(src="/assets/js/libs/jquery.twzipcode.min.js")
		//- script(src="/assets/js/index.js")
		script(src="./js/index.js")
		script(src="./js/menu.js")
		//- script(src="/assets/js/product.js")
