<!DOCTYPE html>
html(lang="zh-Hant")
	head
		include ./includes/meta.pug
		include ./includes/css_include.pug
		link(rel="stylesheet", href="./css/portfolio.css")
	body
		article.hide
			.wrapper
				.title
					figure
						img(src="./images/portfolio.png", alt="")
					p Portfolio
				.content
					section
						.work.nonio
							.img
								.dot
								.dot
								.dot
								.dot
								figure
									img(src="./images/nonioday.jpg", alt="")
							.txt
								p 2020.03
								h3 Nonio 
									span 活動網站
								ul
									li 切版
									li api串接
							a.btn( href="https://nonio.lion-corp.com.tw/nonioday" target="_blank")
								.back
									p Visit 
										span →
								.front
									p Visit 
										span →
						.work.systema
							.img
								.dot
								.dot
								.dot
								.dot
								figure
									img(src="./images/systema.jpg", alt="")
							.txt
								p 2019.12
								h3 細潔 
									span 商品頁
								ul
									li 切版
									li 視覺設計
							a.btn( href="https://systema.lion-corp.com.tw/" target="_blank")
								.back
									p Visit 
										span →
								.front
									p Visit 
										span →
						.work.bmw
							.img
								.dot
								.dot
								.dot
								.dot
								figure
									img(src="./images/bmw.jpg", alt="")
							.txt
								p 2019.10
								h3 BMW 
									span the 1 TeaserPage
								ul
									li 視覺設計
							a.btn( href="https://kunbu0203.github.io/the1TeaserPage/index.html" target="_blank")
								.back
									p Visit 
										span →
								.front
									p Visit 
										span →
						.work.fuco
							.img
								.dot
								.dot
								.dot
								.dot
								figure
									img(src="./images/fuco.jpg", alt="")
							.txt
								p 2019.11
								h3 HiQ pet 
									span 活動網站
								ul
									li 視覺設計
							a.btn( href="https://www.hiq-pets.com/201911pets-story" target="_blank")
								.back
									p Visit 
										span →
								.front
									p Visit 
										span →
					.contentBottom01
					.contentBottom02
		article.menuFixHeight
			.wrapper
				.main
					.items
						.floor
						a.menuBtn.open( href="" )
							.box
								.ham
									.line
									.line
									.line
								p MENU
						include ./includes/menu.pug	

		include ./includes/js_include.pug
		script(src="./js/common.js")
		script(src="./js/portfolio.js")