<!DOCTYPE html>
html(lang="zh-Hant")
	head
		include ./includes/meta.pug
		include ./includes/css_include.pug
		//- link(rel="stylesheet" href="./css/scroll.css")
		//- link(href='https://fonts.googleapis.com/css?family=Quicksand&display=swap', rel='stylesheet')
		link(rel="stylesheet", href="./css/portfolio.css")
		//- link(rel="stylesheet", href="./css/menu.css")
		script(src='./js/libs/jquery-3.4.1.min.js')
	body
		article.hide
			.wrapper
				.title
					figure
						img(src="./images/portfolio.png", alt="")
					p Portfolio
				.content
					section
						.work
							.img
								.dot
								.dot
								.dot
								.dot
								figure
									img(src="./images/nonioday.jpg", alt="")
							.txt
								p 2020.03
								h3 Nonio Day
								p 切版, api串接
								a.btn( href="https://nonio.lion-corp.com.tw/nonioday" target="_blank")
									p Visit the website →
						.work
							.img
								.dot
								.dot
								.dot
								.dot
								figure
									img(src="./images/nonioday.jpg", alt="")
							.txt
								p 2020.03
								h3 Nonio Day
								p 切版, api串接
								a.btn( href="" )
									p Visit the website →
					.contentBottom01
					.contentBottom02
		article.menuFixHeight
			.wrapper
				.main
					.items
						.floor
						a.menuBtn.open( href="" )
							.box
								.ham
									.line
									.line
									.line
								p MENU
						include ./includes/menu.pug	


		script(src="./js/menu.js")
		script(src="./js/portfolio.js")